# macOS system files
.DS_Store

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/
